
<% if current_user %>
	<h3>Hi <%= current_user.name %></h3>
	<table >
	  	<thead>
	    	<tr>
	    		<th>ID    &nbsp&nbsp&nbsp&nbsp</th>
	      		<th>NAME  &nbsp&nbsp&nbsp&nbsp</th>
	      		<th>EMAIL &nbsp&nbsp&nbsp&nbsp</th>
	      		<th colspan="3"></th>
	    	</tr>
	  	</thead>
	  	<tbody>
	  			<%= render 'user' %>
	  	</tbody>
	</table>

<% else %>
	<h4>You loged out..</h4>	
<% end %>


 