<h1>Edit post page</h1>

<%= form_for @user do |f| %>
	<div>
		<strong>Description : </strong>
		<%= f.fields_for :posts do |post| %>
		<%= post.text_field :description %>
		<% end -%>
	</div>

	<br>
	<div>
		<%= f.submit value="Update..."%>
	</div>
	<br>
<% end -%>